<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <div class="container">
     <div class="row">
       <h1>Gestor de clientes</h1>
       <img class="col-lg-4 col-xs-8" src="https://image.flaticon.com/icons/svg/1372/1372999.svg"  alt="">
       <button on-click="obtenerClientes" class="btn btn-success col-lg-4 col-xs-12" type="button" name="button"> Obtener Clientes</button>
       </div>
     <div class="row">
         <table >
           <tbody>
             <template is="dom-repeat" items="{{clientes}}">
           <tr>
             <td>[[item.CustomerID]]</td>
             <td>[[item.ContactName]]</td>
             <td>[[item.CompanyName]]</td>
           </tr>
            </template>
         </tbody>
       </table>
     </div>
   </div>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class GestorClientes extends Polymer.Element {
     static get is() { return 'gestor-clientes'; }
     static get properties() {
       return {
         clientes: {
           type: Array,
           notify: true //notifica cuando termine de caragr
         }
       };
     }
     obtenerClientes(){
      var request = new XMLHttpRequest();//GET RECUPERAR
      request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false); //ppara indicar que las peticiones sean asincronas, false: no se siga hasta que no termine de cargar los resultados.
      request.setRequestHeader("Accept","application/json");
      request.send();
      this.clientes = JSON.parse(request.responseText).value;
      console.log(this.clientes);
     }

     anadirCliente(){
      var request = new XMLHttpRequest();//POST INSERTAR
      request.open("POST","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false); //ppara indicar que las peticiones sean asincronas, false: no se siga hasta que no termine de cargar los resultados.
      request.setRequestHeader("Accept","application/json");
      request.setRequestHeader("Content-Type","application/json");
      var nuevoCliente={"CustomerID":"12345","ContactName":"Pepe","CompanyName":"Pepes Bar"};//cadena
      var body = JSON.stringify(nuevoCliente);//lo convierta a un objeto .. metodo para convertir una cadena a un objeto Json
      request.send(body);
      this.respuesta = request.responseText;
      console.log(this.respuesta);
     }

   }

   window.customElements.define(GestorClientes.is, GestorClientes);
 </script>
</dom-module>
